{{#each products}}
<div style="">
    <div style="display: flex; flex-direction: column; align-items:center; justify-content:center; text-align:center; font-size: larger;">
      <h3>Producto {{id}}</h3>
      <li>{{title}}</li>
      <li>{{description}}</li>
    <br>
  </div>
</div>
{{/each}}
  
<h1>Hola</h1>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>